{% extends "base.html" %}
{% block content %}
{% from "forms/macros.html" import render_field %}

<div class="content pure-g-r">
    <div class="pure-u-1">
        <form class="pure-form pure-form-aligned" method="post">
            {{ form.csrf_token }}
            <fieldset>
                {{ render_field(form.name, class="pure-input-1-4", placeholder="设备信息") }}
                {{ render_field(form.code_name, class="pure-input-1-4", placeholder="device") }}
                {{ render_field(form.url, class="pure-input-1-4", placeholder="/device/server/") }}
                {{ render_field(form.notes, rows='15', class="pure-input-1-2") }}
                {{ render_field(form.level_1_id, class="pure-input-1-5") }}
                {{ render_field(form.level_2_id, class="pure-input-1-5", style="visibility:hidden") }}
                <input type="submit" class="pure-button pure-button-primary" value="提交">
                <a class="pure-button pure-button-success" href="{{ url_for('account.menu_list') }}">返回</a>
             </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
$(function(){
    $('#level_1_id').change(function(){
        if ($(this).val() == 0) {
            $('#level_2_id').attr('style', 'visibility:hidden');
        }
        else {
            $.ajax({
                type: 'GET',
                url: $SCRIPT_ROOT + '{{ url_for('account.menu_selectlist') }}',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: { choice: $(this).val() },
                success: function(data) {
                    var str = '';
                    for (var i = 0; i < data.json.length; i++) {
                        var c = data.json[i];
                        str += '<option value=' + c.id + '>' + c.name + '</option>';
                    }
                    $('#level_2_id').append(str).removeAttr('style');
                }
            });
        }
    });
});
</script>

{% endblock %}