{% extends "base.html" %}
{% block content %}

<div class="main pure-g-r">
    <div class="pure-u-7-8">
        <table class="pure-table" style="width:100%;border:0px">
        <tr>
            <td style="color: blue">
                <i class="fa fa-comment">
                    {% with messages = get_flashed_messages() %} 
                        {% for message in messages %} {{ message }} {% endfor %}
                    {% endwith %}
                </i>
            </td>
        </tr>
        </table>
    </div>
    <div align="right" class="pure-u-1-8">
        <a class="pure-button pure-button-primary" href="{{ url_for('account.user_add') }}">添加新记录</a> 
    </div>
</div>

<div class="content pure-g-r">
    <div class="pure-u-1">
    <table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>中文姓名</th>
            <th>中文全拼(u)</th>
            <th>邮件地址</th>
            <th>移动电话</th>
            <th>可担任负责人</th>
            <th>所属团队</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>            
            <td>{{ user.name }}</td>
            <td>{{ user.code_name }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.mobile }}</td>
            {% if user.leader %}<td>是</td>{% else %}<td>否</td>{% endif %}
            <td>未指定</td>
            <td><a href="{{ url_for('account.user_detail', id=user.id) }}"><i class="fa fa-search"></i></a> <a href="{{ url_for('account.user_edit', id=user.id) }}"><i class="fa fa-edit"></i></a> <a href="{{ url_for('account.user_delete', id=user.id) }}"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
</div>

{% endblock %}