{% extends "base.html" %}
{% block content %}
{% from "forms/macros.html" import render_field %}

<div class="content pure-g-r">
    <div class="pure-u-1">
        <form class="pure-form pure-form-aligned" method="post">
            {{ form.csrf_token }}
            <fieldset>
                {{ render_field(form.name, class="pure-input-1-4", placeholder="王五") }}
                {{ render_field(form.code_name, class="pure-input-1-4", placeholder="wangwu") }}
                {{ render_field(form.password, class="pure-input-1-4") }}
                {{ render_field(form.confirm_password, class="pure-input-1-4") }}
                {{ render_field(form.mail, class="pure-input-1-4", placeholder="wangwu@sina.com") }}
                {{ render_field(form.mobile, class="pure-input-1-4", placeholder="1390123456") }}
                {{ render_field(form.leader) }}
                {{ render_field(form.notes, rows='15', class="pure-input-1-2") }}
                {{ render_field(form.team_id, class="pure-input-1-5") }}
                <input type="submit" class="pure-button pure-button-primary" value="提交">
                <a class="pure-button pure-button-success" href="{{ url_for('account.user_list') }}">返回</a>
             </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">
$(function(){
    var password = $('#password').val();
    if ( password != 'undefine') {
        $('#confirm_password').val(password);
    }
});
</script>
{% endblock %}