{% extends "base.html" %}
{% block content %}

<div class="main pure-g-r">
    <div class="pure-u-7-8">
        <table class="pure-table" style="width: 100%;">
        <tr><td><i class="fa fa-comment"></i> 厂家共有5家，硬件厂商3家，供货商2家</td></tr>
        </table>
    </div>
    <div align="right" class="pure-u-1-8">
        <a class="pure-button pure-button-xsmall pure-button-primary" href="#">添加新记录</a>
    </div>
</div>

<div class="content pure-g-r">
<div class="pure-u-1">
    <table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>状态</th>
            <th>序列号</th>
            <th>主机名称</th>
            <th>型号</th>
            <th>数据中心</th>
            <th>区域</th>
            <th>机柜</th>
            <th>位置</th>
            <th>内网ip</th>
            <th>公网ip</th>
            <th>业务群</th>
            <th>用途</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>使用</td>
            <td>5BPX73X</td>
            <td>wx-f3-e8-u23-100-241</td>
            <td>PowerEdge R420</td>
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>23</td>
            <td>10.0.100.241</td>
            <td>58.215.39.141</td>
            <td>生产平台00000000000000</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>使用</td>
            <td>5BLB53X</td>
            <td>wx-f3-e8-u25-100-242</td>
            <td>PowerEdge R420</td>
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>25</td>
            <td>10.0.100.242</td>
            <td>58.215.39.142</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>使用</td>
            <td>5BLB53X</td>
            <td>wx-f3-e8-u25-100-242</td>
            <td>PowerEdge R420</td>
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>25</td>
            <td>10.0.100.242</td>
            <td>58.215.39.142</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>使用</td>
            <td>5BLB53X</td>
            <td>wx-f3-e8-u25-100-242</td>
            <td>PowerEdge R420</td>
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>25</td>
            <td>10.0.100.242</td>
            <td>58.215.39.142</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>使用</td>
            <td>5BLB53X</td>
            <td>wx-f3-e8-u25-100-242</td>
            <td>PowerEdge R420</td>
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>25</td>
            <td>10.0.100.242</td>
            <td>58.215.39.142</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>使用</td>
            <td>5BLB53X</td>
            <td>wx-f3-e8-u25-100-242</td>
            <td>PowerEdge R420</td>
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>25</td>
            <td>10.0.100.242</td>
            <td>58.215.39.142</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>使用</td>
            <td>5BLB53X</td>
            <td>wx-f3-e8-u25-100-242</td>
            <td>PowerEdge R420</td>
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>25</td>
            <td>10.0.100.242</td>
            <td>58.215.39.142</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>使用</td>
            <td>5BLB53X</td>
            <td>wx-f3-e8-u25-100-242</td>
            <td>PowerEdge R420</td>
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>25</td>
            <td>10.0.100.242</td>
            <td>58.215.39.142</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>使用</td>
            <td>5BLB53X</td>
            <td>wx-f3-e8-u25-100-242</td>
            <td>PowerEdge R420</td>
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>25</td>
            <td>10.0.100.242</td>
            <td>58.215.39.142</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>使用</td>
            <td>5BLB53X</td>
            <td>wx-f3-e8-u25-100-242</td>
            <td>PowerEdge R420</td>
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>25</td>
            <td>10.0.100.242</td>
            <td>58.215.39.142</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>使用</td>
            <td>S6FGTTT12405084</td>
            <td>wx-f3-e8-u27-100-244</td>
            <td>SYS-1026TT-IBQF</td>                                                                                                            
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>27</td>
            <td>10.0.100.244</td>
            <td>58.215.39.144 (nat)</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>使用</td>
            <td>S6FGTTT12405084</td>
            <td>wx-f3-e8-u27-100-244</td>
            <td>SYS-1026TT-IBQF</td>                                                                                                            
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>27</td>
            <td>10.0.100.244</td>
            <td>58.215.39.144 (nat)</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>使用</td>
            <td>S6FGTTT12405084</td>
            <td>wx-f3-e8-u27-100-244</td>
            <td>SYS-1026TT-IBQF</td>                                                                                                            
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>27</td>
            <td>10.0.100.244</td>
            <td>58.215.39.144 (nat)</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>使用</td>
            <td>S6FGTTT12405084</td>
            <td>wx-f3-e8-u27-100-244</td>
            <td>SYS-1026TT-IBQF</td>                                                                                                            
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>27</td>
            <td>10.0.100.244</td>
            <td>58.215.39.144 (nat)</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>使用</td>
            <td>S6FGTTT12405084</td>
            <td>wx-f3-e8-u27-100-244</td>
            <td>SYS-1026TT-IBQF</td>                                                                                                            
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>27</td>
            <td>10.0.100.244</td>
            <td>58.215.39.144 (nat)</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>使用</td>
            <td>S6FGTTT12405084</td>
            <td>wx-f3-e8-u27-100-244</td>
            <td>SYS-1026TT-IBQF</td>                                                                                                            
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>27</td>
            <td>10.0.100.244</td>
            <td>58.215.39.144 (nat)</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>使用</td>
            <td>S6FGTTT12405084</td>
            <td>wx-f3-e8-u27-100-244</td>
            <td>SYS-1026TT-IBQF</td>                                                                                                            
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>27</td>
            <td>10.0.100.244</td>
            <td>58.215.39.144 (nat)</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>使用</td>
            <td>S6FGTTT12405084</td>
            <td>wx-f3-e8-u27-100-244</td>
            <td>SYS-1026TT-IBQF</td>                                                                                                            
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>27</td>
            <td>10.0.100.244</td>
            <td>58.215.39.144 (nat)</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>使用</td>
            <td>S6FGTTT12405084</td>
            <td>wx-f3-e8-u27-100-244</td>
            <td>SYS-1026TT-IBQF</td>                                                                                                            
            <td>无锡电信</td>
            <td>3楼</td>
            <td>e8</td>
            <td>27</td>
            <td>10.0.100.244</td>
            <td>58.215.39.144 (nat)</td>
            <td>生产平台</td>
            <td>分发</td>
            <td><a href="#"><i class="fa fa-search"></i></a>   <a href="#"><i class="fa fa-edit"></i></a>   <a href="#"><i class="fa fa-trash-o"></i></a></td>
        </tr>
    </tbody>
</table>
</div>
</div>

{% endblock %}
