{% extends "base.html" %}
{% block content %}

<div class="main pure-g-r">
    <div class="pure-u-7-8">
        <table class="pure-table" style="width:100%;border:0px">
        <tr>
            <td style="color: blue">
                <i class="fa fa-comment">
                    {% with messages = get_flashed_messages() %} 
                        {% for message in messages %} {{ message }} {% endfor %}
                    {% endwith %}
                </i>
            </td>
        </tr>
        </table>
    </div>
    <div align="right" class="pure-u-1-8">
        <a class="pure-button pure-button-primary" href="{{ url_for('datacenter.area_add') }}">添加新记录</a> 
    </div>
</div>

<div class="content pure-g-r">
    <div class="pure-u-1">
    <table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>名称</th>
            <th>机柜数量</th>
            <th>所属机房</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for area in areas %}
        <tr>
            <td>{{ area[0].id }}</td>            
            <td>{{ area[0].name }}</td>
            <td></td>
            <td>{{ area[1].short_name }}</td>
            <td><a href="{{ url_for('datacenter.area_detail', id=area[0].id) }}"><i class="fa fa-search"></i></a> <a href="{{ url_for('datacenter.area_edit', id=area[0].id) }}"><i class="fa fa-edit"></i></a> <a href="{{ url_for('datacenter.area_delete', id=area[0].id) }}"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
</div>

{% endblock %}
