{% extends "base.html" %}
{% block content %}

<div class="main pure-g-r">
    <div class="pure-u-7-8">
        <table class="pure-table" style="width:100%;border:0px">
        <tr>
            <td style="color: blue">
                <i class="fa fa-comment">
                    {% with messages = get_flashed_messages() %} 
                        {% for message in messages %} {{ message }} {% endfor %}
                    {% endwith %}
                </i>
            </td>
        </tr>
        </table>
    </div>
    <div align="right" class="pure-u-1-8">
        <a class="pure-button pure-button-primary" href="{{ url_for('datacenter.location_add') }}">添加新记录</a> 
    </div>
</div>

<div class="content pure-g-r">
    <div class="pure-u-1">
    <table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>简称</th>
            <th>字母代码</th>
            <th>电信出口带宽(Mb)</th>
            <th>联通出口带宽(Mb)</th>
            <th>其他出口带宽(Mb)</th>
            <th>区域数量</th>
            <th>机柜数量</th>
            <th>设备数量</th>
            <th>供应商</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            <td>{{ location[0].id }}</td>            
            <td>{{ location[0].short_name }}</td>
            <td>{{ location[0].code_name }}</td>
            <td>{{ location[0].ct_bandwidth }}</td>
            <td>{{ location[0].cu_bandwidth }}</td>
            <td>{{ location[0].other_bandwidth }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ location[1].short_name }}</td>
            <td><a href="{{ url_for('datacenter.location_detail', id=location[0].id) }}"><i class="fa fa-search"></i></a> <a href="{{ url_for('datacenter.location_edit', id=location[0].id) }}"><i class="fa fa-edit"></i></a> <a href="{{ url_for('datacenter.location_delete', id=location[0].id) }}"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
</div>

{% endblock %}
