{% extends "base.html" %}
{% block content %}
{% from "forms/macros.html" import render_field %}

<div class="content pure-g-r">
    <div class="pure-u-1">
        <form class="pure-form pure-form-aligned" method="post">
            {{ form.csrf_token }}
            <fieldset>
                {{ render_field(form.name, class="pure-input-1-4", placeholder="a01") }}
                {{ render_field(form.units, class="pure-input-1-4", placeholder="45") }}
                {{ render_field(form.capacity, class="pure-input-1-4", placeholder="13") }}
                {{ render_field(form.notes, rows='15', class="pure-input-1-2") }}
                {{ render_field(form.location_id, class="pure-input-1-4") }}
                {{ render_field(form.area_id, class="pure-input-1-4") }}
                <input type="submit" class="pure-button pure-button-primary" value="提交">
                <a class="pure-button pure-button-success" href="{{ url_for('datacenter.rack_list') }}">返回</a>
             </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    $('#location_id').flushSelectList('area_id', 'http://127.0.0.1:5000/datacenter/area/json/select_list/');
</script>
{% endblock %}