{% extends "base.html" %}
{% block content %}

<div class="main pure-g-r">
    <div class="pure-u-7-8">
        <table class="pure-table" style="width:100%;border:0px">
        <tr><td><i class="fa fa-comment"></i> 消息框</td></tr>
        </table>
    </div>
    <div align="right" class="pure-u-1-8">
        <a class="pure-button pure-button-success" href="{{ url_for('subnet.net_list') }}">返回</a> 
    </div>
</div>

<div class="content pure-g-r">
    <div class="pure-u-1">
    </div>
</div>

{% endblock %}
