<!DOCTYPE html>                                                                                                                                       
<html>
    <head>
        <title>登录PanGu</title> 
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">
        <link href="{{ url_for('static', filename='css/pure-min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> 
        <style type="text/css">
			div#top {height:20%;}
			div#content {width:60%;}
		</style>
    </head>
    <body>
    	<div id="top" class="pure-g-r"></div>
		<div class="pure-g-r">
			<div class="pure-u-1">
            	<form class="pure-form pure-form-aligned">
    			<fieldset>
        			<div class="pure-control-group">
            			<label for="name">用户名</label>
            			<input id="name" type="text" placeholder="Username">
        			</div>
					<div class="pure-control-group">
            			<label for="password">密码</label>
            			<input id="password" type="password" placeholder="Password">
        			</div>
	    			<button type="submit" class="pure-button pure-button-primary">登录</button>
	    		</fieldset>
				</form>
			</div>
        </div>
    </body>
</html>